                <!-- Blog -->
                <section id="blog">
                    <div class="r-timeline-section">
                        <!-- Timeline for Blog post 1  -->
                        <h3 class="main-heading">Blog</h3>
                        <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <!-- <h4>Community detection and observation in large-scale transaction-based networks<span class="timelineDate">19 August, 2018</span></h4>
                                    <h5>Blog topic : Introduction</h5>
                                    <p>
                                    Analysing the structure of a network allows us to better understand its fundamental properties by observing the characteristics of and relationships between the vertices and edges of the corresponding graph. One particularly interesting question, especially for large graphs, is to look for communities in a graph, i.e., groups of nodes that exhibit a higher degree of coherence within the members of that community compared to other nodes in the network. Measures such as, for example, the modularity or degree correlation have been proposed to assess whether or not such communities exist at all. The exact metric to find cohesive communities usually depends of the application domain.
                                    </p> -->
                                    <p>Working on it.....&nbsp;<i class="icon-wink"></i></p>
                                </div>
                            </li>
                        </ul>
                        <!-- /Timeline for Blog post 1 -->
                    </div>
                    <div class="clear"></div>
                </section>
                <!-- /Blog -->