<title>Free != Open Source</title>
<category>Tech</category>
<body>
	<p style="text-align: justify;">As I was talking with a couple of my friends the other day, it came to my attention that most of them don't know the difference between free software and open source software, although all of them are computer/software engineers with one or more master's degree. Isn't that pathetic? At this point, two things come to my mind. First, how the hell they got their masters degree in computer scince or software engineering? Second, How the hell they were never curious about knowing the differences?</p>

	<p style="text-align: justify;">I am writing this post not to tell the difference between free and open source explicitly but just to point out the fact that if a software is free that doesn't mean that it's open source. I will simply put it this way - "Every open source software is free, but every free software is not open source." One single "Google" search can prove to be quiet helpful in this regard. Anyone who is curious can do it. It's all that takes to know what is open source and what is free software. They didn't even bother to spend 2 minutes time in their entire life to figure this out yet they claim to have known more than anyone around them and act like they know everything.</p>

	<p style="text-align: justify;">I am not telling that one should know everything in the context of their career or the subject of study because no one can know everything. But the fact is there are some things that every computer science masters' graduate should know. This is one of them. I will let the readers decide whether it's funny or pathetic for someone who has more than one masters' degree to not know the difference between free software and open source software.</p>

	<p style="text-align: justify;">Happy searching!</p>
</body>
