                <!-- Menu -->
                <nav class="menu">
                	<ul class="tabs">
                        <li class="tmenu"><a href="#profile" class="tab-profile"><i>&#xe923;</i>Profile</a></li>
                        <li class="tmenu"><a href="#resume"><i>&#xe993;</i>R&eacute;sum&eacute;</a></li>
                        <li class="tmenu"><a href="#research"><i>&#xe986;</i>Research</a></li>
                        <li class="tmenu"><a href="#projects"><i>&#xe9aa;</i>Project Works</a></li>
                        <li class="tmenu"><a href="#blog"><i>&#xe909;</i>Blog</a></li>
                       <!-- <li class="tmenu"><a href="#contact"><i>&#x21;</i>Contact</a></li> -->
                    </ul>
                    <a class="prev" id="menu-prev" href="#">&#xea44;</a>
                    <a class="next" id="menu-next" href="#">&#xea42;</a>

                </nav>
                <!-- /Menu -->

