                <!-- Blog -->
                <section id="blog">
                    <div class="r-timeline-section">
                        <!-- Timeline for blog post  -->
                        <h3 class="main-heading">Blog</h3>
                        <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>_post_title_<span class="timelineDate">_post_date_time_</span></h4>
                                    <h5>Category: _post_category_</h5>
                                    <p>
                                    	_post_body_
                                    </p>
                                    <!-- <p>Working on it.....&nbsp;<i class="icon-wink"></i></p> -->
                                </div>
                            </li>
                        </ul>
                        <!-- /Timeline for blog post-->
                    </div>
                    <div class="clear"></div>
                </section>
                <!-- /Blog -->