                <!-- Blog -->
                <section id="blog">
                    <div class="r-timeline-section">
                        <!-- Timeline for blog post  -->
                        <h3 class="main-heading">Blog</h3>
                        <ul class="timeline">
                            _posts_
                        </ul>
                        <!-- /Timeline for blog post-->
                    </div>
                    <div class="clear"></div>
                </section>
                <!-- /Blog -->