                <!-- Projects -->
                <section id="projects">
                    <div class="r-timeline-section">
                        <!-- Timeline for Professional Projects  -->
                        <h3 class="main-heading">Professional Projects</h3>
                        <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>[19] Analysis and Visualization for BGP prefix delegation structure [ <a href="http://tkrenc0.inet.tu-berlin.de/bgp_webportal/" target="_blank"><i class="icon-link"></i></a> ]<span class="timelineDate">2016</span></h4>
                                    <h5>Python 3.4.2, MySQL, PHP5, HTML3, CSS3, Javascript</h5> 
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[18] 3G Data analysis tool for complete performance report generation<span class="timelineDate">2015</span></h4>
                                    <h5>Python 3.4.2, MySQL, PHP5, HTML3, CSS3, Javascript</h5>
                                    <h4>[17] 2G Network Optimization tool implementation and up-gradation project [ <a href="http://www.astellia.com" target="_blank"><i class="icon-link"></i></a> ]<span class="timelineDate">2015</span></h4>
                                    <h5>Project Management</h5>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[16] Software for automated KPI calculation and easy access web portal<span class="timelineDate">2014</span></h4>
                                    <h5>Python 3.3.2, MySQL, PHP5, HTML3, CSS3, Javascript</h5>
                                    <h4>[15]  ftp access control and file recovery with specific arguments<span class="timelineDate">2014</span></h4>
                                    <h5>Python 3.3.2</h5>
                                    <h4>[14] Customized software extension for 3G data calculation in modified environment<span class="timelineDate">2014</span></h4>
                                    <h5>Python 3.4.2, MySQL</h5>
                                    <h4>[13] Database design project for 3G Data and KPI formula implementation<span class="timelineDate">2014</span></h4>
                                    <h5>Oracle 10g</h5>
                                    <h4>[12] 3G KPI integration software for daily, weekly, monthly report generation<span class="timelineDate">2014</span></h4>
                                    <h5>Python 3.3.2, MySQL</h5>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[11] Software development project for cluster wise reporting tool<span class="timelineDate">2013</span></h4>
                                    <h5>Python 2.7, MySQL, Java, SMTP</h5>
                                    <h4>[10] 2G KPI merge project for different vendors and easy access web portal<span class="timelineDate">2013</span></h4>
                                    <h5>Python 2.7, MySQL, PHP5, HTML3, CSS3, Javascript</h5>
                                    <h4>[09] Software development project for finding out 'Average Handover Time' for daily basis<span class="timelineDate">2013</span></h4>
                                    <h5>Python 2.7, MySQL, PHP5, HTML3, CSS3, Javascript</h5>
                                    <h4>[08] Customized software to measure network cell, site distance and easy access web portal<span class="timelineDate">2013</span></h4>
                                    <h5>Python 2.7, MySQL, PHP5, HTML3, CSS3, Javascript</h5>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[07] IBM Explore project implementation to view network entity on customized map<span class="timelineDate">2012</span></h4>
                                    <h5>Google Map, Java, Map Info, Oracle 10g, MS Excel, XML</h5>
                                    <h4>[06] IBM TNPMW project implementation for mass level wireless KPI data integration<span class="timelineDate">2012</span></h4>
                                    <h5>Linux Shell Scripting, Oracle 10g, Java</h5>
                                    <h4>[05] Custom software development project for ERICSSON 2G network data calculation<span class="timelineDate">2012</span></h4>
                                    <h5>Java, Oracle 10g</h5>
                                    <h4>[04] New Database design for ERICSSON 2G network data and KPI generation<span class="timelineDate">2012</span></h4>
                                    <h5>Oracle 10g</h5>
                                    <h4>[03] Custom software development project for SIEMENS 2G network data calculation<span class="timelineDate">2012</span></h4>
                                    <h5>Java, Oracle 10g</h5>
                                    <h4>[02] Database schema re-design for SIEMENS 2G network data calculation and KPI generation<span class="timelineDate">2012</span></h4>
                                    <h5>Oracle 10g</h5>
                                    <h4>[01] Custom Software extension project for finding worst network entity<span class="timelineDate">2012</span></h4>
                                    <h5>Java, Oracle 10g</h5>
                                </div>
                            </li>
                        </ul>
                        <!-- /Timeline for Professional Projects  -->

                        <!-- Timeline for Academic Projects  -->
                        <h3 class="main-heading">Academic Projects</h3>
                        <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>[07] Swap website for Swapping Goods and Materials<span class="timelineDate">2010</span></h4>
                                    <h5>PHP5, HTML, CSS3, Java Script, MySQL</h5>
                                    <h4>[06] Online Inventory, Order, Complex Billing management system<span class="timelineDate">2010</span></h4>
                                    <h5>PHP5, HTML5, CSS3, Java Script, MySQL</h5>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[05] Cafeteria Inventory and Food Allocation Management System<span class="timelineDate">2009</span></h4>
                                    <h5>Visual Basic, MS Access</h5>
                                    <h4>[04] Online full duplex chat application with enhanced emoticon facility<span class="timelineDate">2009</span></h4>
                                    <h5>Java</h5>
                                    <h4>[03] Student Result Processing System<span class="timelineDate">2009</span></h4>
                                    <h5>Java, MS Access</h5>
                                </div>
                            </li>
                            <li>
                                <div class="timelineUnit">
                                    <h4>[02] Student Information Management System<span class="timelineDate">2008</span></h4>
                                    <h5>Visual Basic, MS Access</h5>
                                    <h4>[01] Student Hall Seat Management System<span class="timelineDate">2008</span></h4>
                                    <h5>C/C++</h5>
                                </div>
                            </li>
                        </ul>
                        <!-- /Timeline for Academic Projects  -->
                    </div>
                    <div class="clear"></div>
                </section>
                <!-- /Projects -->
