                <!-- Resume -->
                <section id="resume">
                    <div class="timeline-section">
                       <!-- Timeline for Employment  -->
                       <h3 class="main-heading">Professional Experience</h3>
                       <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>DevOps Engineer<span class="timelineDate">October 2019 - Present</span></h4>
                                    <h5>NTT Ltd., Bad Homburg, Germany</h5>
                                    <p>
                                        I am currently working at NTT Ltd. [<a href="https://www.hello.global.ntt/" target="_blank"><i class="icon-link"></i></a>] as DevOps Engineer at Bad Homburg, Germany.
                                    </p>
                                </div>
                            </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>DevOps Engineer<span class="timelineDate">November 2018 - September 2019</span></h4>
                                   <h5>Dimension Data, Bad Homburg, Germany</h5>
                                   <p>
                                       I worked at Dimension Data [<a href="https://www.dimensiondata.com/" target="_blank"><i class="icon-link"></i></a>] with Porfessional Services (PS) application developement team at Bad Homburg, Germany.
                                   </p>
                               </div>
                           </li>                       
                           <li>
                               <div class="timelineUnit">
                                   <h4>DevOps Engineer<span class="timelineDate">May 2017 - November 2017</span></h4>
                                   <h5>Fraunhofer FOKUS, Berlin, Germany</h5>
                                   <p>
                                       I worked at Fraunhofer FOKUS with NGNI (Software-based Networks) [<a href="https://www.fokus.fraunhofer.de/" target="_blank"><i class="icon-link"></i></a>] team in Berlin, Germany as a student assistence to the SysAdmins. Focus of the job was mainly on automation (system and network) with "Saltstack", Python and Linux servers.
                                   </p>
                               </div>
                           </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>QoS Associate Engineer<span class="timelineDate">July 2013 - July 2015</span></h4>
                                   <h5>Banglalink™ Digital Communications Ltd., Bangladesh</h5>
                                   <p>
                                   I was responsible for Administrative works on network optimization tool called "Astellia" [<a href="http://www.astellia.com" target="_blank"><i class="icon-link"></i></a>]
                                   and analyze user data using custom made software. I also designed and developed custom software using Python, php and Oracle for analysing cell phone user data and
                                   creating reports based on administrative requirements. I was also an administrator for an Oracle 10g database that stores 25 million cellphone
                                   users' data.
                                   </p>
                               </div>
                           </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>Performance Junior Engineer<span class="timelineDate">March 2012 - June 2013</span></h4>
                                   <h5>Banglalink™ Digital Communications Ltd., Bangladesh</h5>
                                   <p>
                                   I was woking as a secodary administrator for network optimization tool called "Astellia" [<a href="http://www.astellia.com" target="_blank"><i class="icon-link"></i></a>]
                                   and manage IBM Tivoli project for network evaluation. I also worked on network upgradation from 2G to 3G. I was responsible
                                   for developing custom made software with Java and Oracle to analyze and generate report on cellphone users' data.
                                   </p>
                               </div>
                           </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>Intern, Future Network Design<span class="timelineDate"> October 2010 - December 2010</span></h4>
                                   <h5>BD COM Online Limited, Bangladesh</h5>
                                   <p>
                                   I worked on a few projects the includes IP based telephony and network routing protocol. I attended classes on basic routing algorithms and
                                   network troubleshooting.
                                   </p>
                               </div>
                           </li>
                           <div class="clear"></div>
                       </ul>
                       <!-- /Timeline for Employment  -->

                       <!-- Timeline for Education  -->
                       <h3 class="main-heading">Education</h3>
                        <ul class="timeline">
                           <li>
                               <div class="timelineUnit">
                                   <h4>Masters in Internet Technology and Architecture (ITA)<span class="timelineDate">October 2016 - September 2018</span></h4>
                                   <h5>Technische Universität Berlin, Berlin, Germany</h5>
                                   <p>
                                   I am currently studying Internet Technologies. I completed courses, Digital communities, Database Technologies,
                                   Network protocols and architecture, Digital communities, Projects on IPv4 BGP prefix delegation structure. My minor thesis was on challenges in Innovation and Entrepreneurship in aspect to green energy.
                                   </p>
                               </div>
                           </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>Masters in Internet Technology and Architecture (ITA)<span class="timelineDate">September 2015 - July 2016</span></h4>
                                   <h5>Université Pierre et Marie CURIE (UPMC), Paris, France</h5>
                                   <p>
                                   I studied User-Centric Networking focusing on Digital signal processing, Internet Routing, Wireless and Mobile communication
                                   systems, Network design and modeling. I also completed my minor on Innovation and Entrepreneurship. I have also completed summer school
                                   on Innovation and Entrepreneurship.
                                   </p>
                               </div>
                           </li>
                           <li>
                               <div class="timelineUnit">
                                   <h4>Bachelor of Science in Computer Science and Information Technology<span class="timelineDate">January 2008 - October 2011</span></h4>
                                   <h5>Islamic University of Technology, Dhaka, Bangladesh</h5>
                                   <p>
                                   I studied Computer science and Information Technologies focusing on Basic computer programming, Algorithms, Mobile communication systems,
                                   Data structure.
                                   </p>
                               </div>
                           </li>
                           <div class="clear"></div>
                       </ul>
                       <!-- /Timeline for Education  -->
                   </div>
                   <div class="skills-section">
                       <!-- Skills -->
                       <h3 class="main-heading"><i class="icon-git">&nbsp;</i>Programming Skills</h3>
                       <ul class="skills">
                           <li>
                               <h4>Python</h4>
                               <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                               <h4>Shell Scripting</h4>
                               <div class="rating" data-rat="5"></div>
                           </li>
                           <li>
                               <h4>Java</h4>
                               <div class="rating" data-rat="4"></div>
                           </li>
                           <li>
                               <h4>php</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>C</h4>
                               <div class="rating" data-rat="5"></div>
                           </li>
                           <li>
                               <h4>C++</h4>
                               <div class="rating" data-rat="4"></div>
                           </li>
                           <li>
                               <h4>YAML</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-cloud">&nbsp;</i>Cloud Technologies</h3>
                       <ul class="skills">
                           <li>
                               <h4>Amazon Web Services (AWS)</h4>
                               <div class="rating" data-rat="5"></div>
                           </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-cogs">&nbsp;</i>Automation</h3>
                       <ul class="skills">
                           <li>
                               <h4>Saltstack</h4>
                               <div class="rating" data-rat="5"></div>
                           </li>
                           <li>
                                <h4>Ansible</h4>
                                <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>Docker</h4>
                               <div class="rating" data-rat="4"></div>
                           </li>
                           <li>
                               <h4>Jenkins</h4>
                               <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                               <h4>SonarQube</h4>
                                <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                                <h4>Artifactory</h4>
                                <div class="rating" data-rat="7"></div>
                            </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-github">&nbsp;</i>Source Code Management</h3>
                       <ul class="skills">
                           <li>
                               <h4>GitHub</h4>
                               <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                                <h4>GitLab</h4>
                                <div class="rating" data-rat="7"></div>
                            </li>                            
                           <li>
                               <h4>Gerrit Code Review</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>Mantis Bug Tracker</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-database">&nbsp;</i>Database Technologies</h3>
                       <ul class="skills">
                           <li>
                               <h4>mySQL</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>NoSQL (Couchbase)</h4>
                               <div class="rating" data-rat="2"></div>
                           </li>
                           <li>
                               <h4>PostgreSQL</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>                            
                           <li>
                               <h4>Oracle 10g</h4>
                               <div class="rating" data-rat="4"></div>
                           </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-html-five">&nbsp;</i>Design Skills</h3>
                       <ul class="skills">
                           <li>
                               <h4>Wordpress</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>HTML5</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>CSS3</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                           <li>
                               <h4>Javascript</h4>
                               <div class="rating" data-rat="4"></div>
                           </li>
                       </ul>
                       <h3 class="main-heading"><i class="icon-tux">&nbsp;</i>Media Skills</h3>
                       <ul class="skills">
                           <li>
                               <h4>MS Office</h4>
                               <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                               <h4>Windows/Linux</h4>
                               <div class="rating" data-rat="7"></div>
                           </li>
                           <li>
                               <h4>LaTex</h4>
                               <div class="rating" data-rat="6"></div>
                           </li>
                       </ul>
                    <!-- /Skills -->
                    </div>
                    <div class="clear"></div>
                    <a href="http://dalwar.surge.sh/documents/CV_Dalwar.pdf" target="_blank" class="button transition"><i class="icon-download3">&nbsp;</i>Download resume as PDF <i class="icon-file-pdf">&nbsp;</i></a>
               </section>
               <!-- /Resume -->
